In [56]:
import numpy as np
import pandas as pd

label_name = 'fear'

df_file = "/home/paperspace/Documents/twitter/data/affect_data/e_c_{}.csv".format(label_name)
df = pd.read_csv(df_file)
df.shape

(10983, 2)

In [57]:
df.label.sum()

1848

In [58]:
df_pos = df.loc[df.label>0]
df_neg = df.loc[df.label<1]

In [59]:
df_neg.shape

(9135, 2)

In [60]:
ids = np.arange(len(df_pos))
choices = np.random.choice(ids, len(df_neg))

df_resampled = df_pos.iloc[choices]
df_resampled.shape

(9135, 2)

In [61]:
df_resampled.head(5)

                                                   text  label
2720  something incredibly terrible about my life is...      1
6525            entity i fear for the future of mankind      1
2790  if my concerns &amp; anxiety don't matter to y...      1
7834  earth's sixth mass extinction event under way,...      1
7273  work is going to kill me and 5 o'clock is nowh...      1

In [62]:
df_new = df_neg.append(df_resampled)

In [63]:
df_new.shape

(18270, 2)

In [64]:
df_new.head(5)

                                                text  label
0  âworry is a down payment on a problem you ma...      0
1  whatever you decide to do make sure it makes y...      0
2  entity  it also helps that the majority of nfl...      0
3  accept the challenges so that you can literall...      0
4  my roommate: it's okay that we can't spell bec...      0

In [65]:
df_new.label.sum()

9135

In [66]:
df_new.to_csv("/home/paperspace/Documents/twitter/data/affect_data/e_c_{}_upsample.csv".format(label_name), index=False)